<!DOCTYPE>
<html>
<head>
<style>
    a:hover{
    color:white
    }
    div.a {
      text-align: center;
    }
    h1 {
      color: White;
    }
    h3 {
      color: Red;
    }
	h1,h3
	{
		text-align: center;
	}
</style>
<title>homepage</title>
<style>
body{
        background-image:url("static/images/dukkan.jpg");
    }
</style>
</head>
<body>
    <h1>Welcome to our Homepage</h1>
    <h3>Click below to know more details about the products</h3>
    <nav>
        <div class="a">
        <a href="https://mydukaan.io/jeypore2">CLICK HERE</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
    </nav>
</body>
</html>